<div class="page-title" style="">
  <h3>Edit Password</h3>
</div>


<div class="" style="padding:15px;">
  <div class="ui card" style="margin: auto;">
    <div class="content">
      <div class="ui form">
        <div class="field">
          <label>Currently Username</label>
          <input id="cUsername" type="text" placeholder="Enter Currently Username" name="" value="">
        </div>
        <div class="field">
          <label>Currently Password</label>
          <input id="cPassword" type="password" placeholder="Enter Developer Password" name="" value="">
        </div>

        <div class="ui divider"></div>

        <div class="field">
          <label>New Password</label>
          <input id="newPassword" type="password" placeholder="Enter New Username" name="" value="" >
        </div>
        <div class="field">
          <label>Confirm New Password</label>
          <input id="newPassword2" type="password" placeholder="Enter New Username" name="" value="" >
        </div>


        <div class="field" style="text-align:center;">
          <button onclick="edit()" class="ui blue button" type="button" name="button">Edit Password</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function edit(){
    cUsername=$('#cUsername').val();
    cPassword=$('#cPassword').val();
    newPassword=$('#newPassword').val();
    newPassword2=$('#newPassword2').val();

    if (newPassword!=newPassword2 || newPassword.length<6) {
      $('#newPassword2').closest('.field').addClass('error');
      $('#newPassword').closest('.field').addClass('error');
      pass=$('#newPassword').closest('.field').find('label');
      if (!pass.hasClass('minStrText')) {
        pass.addClass('minStrText').text(pass.text()+' (At least 6 characters)')
      }
      if (newPassword!=newPassword2) {
        msg_box({
          text:'The specified password do not match',
        });
        $('#newPassword2').val('');
      }
      return;
    }

    sendPost('<?= url('/dev-tools/account/edit/password') ?>',{
      cUsername:cUsername,
      cPassword:cPassword,
      newPassword:newPassword
    },function (get) {
      if (get.ok) {
        msg_box({
          text:'done successfully',
        });
        setTimeout(function () {
          window.location.href="<?=url('/dev-tools/settings') ?>";
        },2000);
      }
      else {
        msg_box({
          text:get.msg
        })
      }
    })
  }
</script>
