<div class="page-title" style="">
  <h3>Migration</h3>
</div>

<div class="" style="padding:15px;">

  <div class="ui cards centered">
    <div class=" card">
      <div class="content">
        <div class="header">
          Build
        </div>

        <div class="description">
          Build Auto Migrations Files From Database
        </div>
      </div>

      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Build</div>
        </div>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="header">
          Run
        </div>

        <div class="description">
          Create Databace Tables From Migrations Files
        </div>
      </div>

      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Create Tables</div>
        </div>
      </div>
    </div>

    <div class="ui card">
      <div class="content">
        <div class="header">
          Reset
        </div>

        <div class="description">
          Drop Tables From DataBase And Run Migration
        </div>
      </div>

      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Create Tables</div>
        </div>
      </div>
    </div>

  </div>


</div>
