<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>sample1</title>

  <link rel="stylesheet" href="<?= res('/css/style.css'); ?>">

  <style media="screen">
    *{
      color: #fff;
    }
    body{
        padding: 30px;
    }
    .title{
      text-align: center;
      font-size: 30px;
      color: wheat;
    }
  </style>
</head>
<body>

  <div class="title" >
    echo dynamic value in html
  </div>

  <br>
  <!-- getVal('name') sample -->
  <div>name : <b> <?= getVal('name'); ?> </b> </div>

  <br>

  <div >
    age :<b> <?= getVal('age'); ?> </b>
  </div>


  <div >
    color : <b> <?= getVal(['color',getVal('select_color')]) ?> </b>
  </div>




  <div class="title" >
    load other html into main html
  </div>

  <div style="margin: 40px;border-style: solid;border-width: 1px;border-radius: 3px;padding: 30px;border-color: #5df17d8c;">

    <?php view('welcome') ?>

  </div>




  <div class="title" >
    Use variables in js
  </div>

  <div class="">
    we send 'color'=>['blue','red','orange'] array to view
    <br>
    for edit read controllers/code.php
    <br>
    <br>
  </div>

  <div class="">
    append by js : <b id="color_list" ></b>
  </div>

<script type="text/javascript">

  var list='<?= json_encode(getVal("color")) ?>';
  json=JSON.parse(list)

  $.each(json,function (index,value) {
    console.log(value);
    $('#color_list').append(`<br> ${index+1}. ${value}`);
  })
</script>
</body>
</html>
