

<style media="screen">
  .modal.rtl>.header{
    direction:rtl;
    text-align: right;
  }


</style>



<div  id="modal_msg_box" class="ui mini modal">
  <div class="header">Header</div>
  <div class="content" style="text-align: center;">

  </div>
  <div class="actions" style="display:flex;">
    <div id="modal_msg_box_btn_cancel" class="ui cancel button">Cancel</div>
    <div id="modal_msg_box_btn_ok" class="ui blue button">Approve</div>
  </div>
</div>



<script type="text/javascript">

  function msg_box(option){

    m=$('#modal_msg_box');
    button_close_id='#modal_msg_box_btn_cancel';
    button_primary_id='#modal_msg_box_btn_ok';
    title_id='.header';
    text_id='.content';
    content_id='.modal-content';

    if (option=='hide'||option=='close') {
      m.modal('hide');
      return m;
    }
    else if (option =='get data') {
      return m.data('value');
    }

    title=option.title || null;
    text=option.text;
    close_text=option.close_text || 'OK';
    callback_text=option.callback_text || null;
    dir=option.dir || 'ltr';
    space_button=option.space_button || false;
    data=option.data || {};


    m.find(button_close_id).on('click',option.close_callback);


    m.data('value',data);

    if (title!=null) {
      m.find(title_id).text(title).css('display','')
    }
    else {
      m.find(title_id).text('').css('display','none')
    }

    m.find(text_id).text(text);

    m.find(button_close_id).text(close_text);

    if (callback_text!=null && callback_text!='') {
      m.find(button_primary_id).text(callback_text).css('display','');
      m.find(button_primary_id).on('click',option.callback);
    }
    else {
      m.find(button_primary_id).text('').css('display','none');
    }

    m.find(content_id).css('direction',dir);
    m.find(title_id).css('direction',dir);
    m.find(text_id).css('direction',dir);

    if (dir=='rtl') {
      margin_right_space='0';
      margin_left_space='auto';
      m.addClass('rtl').removeClass('ltr')
    }
    else {
      margin_right_space='auto';
      margin_left_space='0';
      m.removeClass('rlt')
    }

    if (space_button) {
      m.find(button_primary_id).css('margin-right',margin_right_space).css('margin-left',margin_left_space);
    }
    else {
      m.find(button_primary_id).css('margin-right','').css('margin-left','');
      m.find(button_close_id).css('margin-right','0').css('margin-left','auto');

    }

    m.modal('show');

    return m;

  }
</script>
